@mixin linear-gradient($params) {
  background-color: $params;
  background-image: -webkit-linear-gradient($params);
  background-image: -moz-linear-gradient($params);
  background-image: -o-linear-gradient($params);
  background-image: linear-gradient($params);
}