body {
  position: relative;
  min-height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.hide {
  display: none;
}

header {
  height:80px;
}

aside {
  float:right;
  width:215px;
}