//collor styles import
@import "colors";
//import common styles
@import 'reset';
@import 'common';
@import "partials/icons";

.container {
  width:960px;
  margin:0 auto;
  height: 100%;
}

.content {
  margin-right: 220px;
}

//partials import
@import "partials/imageView";
@import 'partials/number';
@import "partials/shoppingCart";
@import "partials/categories";
@import "partials/galleryItem";
