* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; }

body {
  position: relative;
  min-height: 100%; }

a {
  text-decoration: none;
  cursor: pointer; }

a:hover {
  text-decoration: underline; }

button {
  cursor: pointer; }

.hide {
  display: none; }

header {
  height: 80px; }

aside {
  float: right;
  width: 215px; }

.icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px; }

.icon-delete {
  background: url("../img/close_delete.png"); }

.container {
  width: 960px;
  margin: 0 auto;
  height: 100%; }

.content {
  margin-right: 220px; }

.imageView {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background: rgba(0, 0, 0, 0.85); }
  .imageView .imageContainer {
    position: relative;
    width: 800px;
    margin: 0 auto;
    background: #fff; }
    .imageView .imageContainer .image {
      position: relative;
      width: 100%;
      height: 600px;
      text-align: center;
      overflow: hidden; }
      .imageView .imageContainer .image .prev, .imageView .imageContainer .image .next {
        display: block;
        position: absolute;
        z-index: 3;
        width: 35px;
        height: 80px;
        background: rgba(0, 0, 0, 0.5);
        top: 50%;
        margin-top: -40px; }
        .imageView .imageContainer .image .prev:hover, .imageView .imageContainer .image .next:hover {
          opacity: 0.5;
          animation: hover 1s; }
@keyframes hover {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
      .imageView .imageContainer .image .prev {
        left: 0; }
        .imageView .imageContainer .image .prev:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          left: -15px;
          margin-top: -20px;
          border: 20px solid transparent;
          border-right: 20px solid #fff; }
      .imageView .imageContainer .image .next {
        right: 0; }
        .imageView .imageContainer .image .next:before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          right: -15px;
          margin-top: -20px;
          border: 20px solid transparent;
          border-left: 20px solid #fff; }
      .imageView .imageContainer .image img {
        height: 100%;
        margin: 0 auto; }
    .imageView .imageContainer .icon-delete {
      position: absolute;
      top: 0;
      right: -16px;
      z-index: 4; }

.number {
  height: 25px;
  width: 45px;
  margin: 0 10px;
  display: inline-block;
  position: relative;
  border: 1px solid #c6c6c6; }
  .number div {
    float: right;
    background: #ccc;
    height: 100%;
    width: 20px;
    color: #fff; }
    .number div button {
      width: 100%;
      height: 50%;
      display: block;
      border: none;
      background: none;
      background: green; }
  .number input {
    width: 25px;
    height: 100%;
    border: none;
    text-align: center; }
  .number .up {
    background-color: #06ee00;
    background-image: linear-gradient(#06ee00, #059b01);
    position: relative; }
    .number .up:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      background: url("../img/up.png") no-repeat bottom center;
      bottom: 15%;
      left: 0; }
  .number .down {
    background-color: #06ee00;
    background-image: linear-gradient(#059b01, #06ee00);
    position: relative; }
    .number .down:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/down.png") no-repeat top center;
      position: absolute;
      top: 15%;
      left: 0; }

.cart {
  font-size: 10pt;
  background: #feffa7;
  box-shadow: 1px 4px 8px #c6c6c6;
  margin-top: 20px; }
  .cart .cartHeadline {
    padding: 10px;
    height: 80px;
    line-height: 80px; }
    .cart .cartHeadline .amount {
      height: 20px;
      overflow: hidden; }
    .cart .cartHeadline .count {
      width: 30px;
      height: 30px;
      line-height: 22px;
      vertical-align: middle;
      text-align: center;
      background: #05a101;
      color: #fff;
      display: block;
      border-radius: 30px;
      position: relative; }
  .cart .itemsInCart {
    float: right;
    position: relative;
    margin: 5px 20px 0 0; }
    .cart .itemsInCart:before {
      content: "";
      position: absolute;
      width: 64px;
      height: 64px;
      background-image: url("../img/1428683270_shopping-cart-64.png");
      top: 7px;
      left: -20px; }
  .cart .cartItems {
    list-style: none;
    border-top: 2px solid #e6d43e; }
  .cart .item {
    position: relative;
    padding: 5px 10px;
    border-bottom: 2px solid #e6d43e; }
    .cart .item .title {
      font-size: 9pt;
      display: inline-block;
      width: 70px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .cart .item .icon {
      display: none; }
    .cart .item:hover .icon {
      display: block; }
  .cart .total {
    text-align: right;
    padding: 10px;
    display: block; }

.categories {
  list-style: none; }
  .categories li {
    float: left;
    list-style: none;
    margin-right: 10px; }
  .categories a {
    color: #05a101; }
  .categories .active {
    text-decoration: underline; }

.filter {
  overflow: hidden;
  margin-bottom: 20px;
  font-size: 10pt; }
  .filter .label {
    float: left;
    padding-right: 5px; }

figure.item {
  display: block;
  float: left;
  position: relative;
  width: 210px;
  height: 420px;
  margin: 15px; }
  figure.item h3, figure.item h3 a {
    color: #05a101;
    font-size: 12pt; }
  figure.item p {
    padding-top: 10px;
    font-size: 10pt; }
  figure.item .itemContainer {
    width: 210px;
    height: 420px;
    border: 1px solid #c6c6c6;
    padding-bottom: 10px;
    box-shadow: 1px 4px 8px #c6c6c6;
    background: #fff; }
  figure.item .description {
    position: relative;
    margin: 15px 0;
    padding: 0 15px;
    min-height: 75px;
    height: 75px;
    overflow: hidden; }
    figure.item .description:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 30px;
      bottom: 0;
      background-color: transparent, white;
      background-image: -webkit-linear-gradient(transparent, white);
      background-image: -moz-linear-gradient(transparent, white);
      background-image: -o-linear-gradient(transparent, white);
      background-image: linear-gradient(transparent, white); }
  figure.item:hover .itemContainer {
    position: absolute;
    z-index: 1;
    height: auto; }
  figure.item:hover .description {
    height: auto; }
  figure.item:hover .description:after {
    background: none; }

.mainPhoto {
  position: relative;
  width: 100%;
  height: 210px;
  text-align: center;
  overflow: hidden; }
  .mainPhoto img {
    cursor: pointer;
    height: 210px;
    margin: 0 auto; }

.buyBlock {
  display: inline-block;
  margin-left: 10px; }
  .buyBlock .number {
    float: left;
    margin-top: 5px; }

.addToCart {
  display: inline-block;
  height: 35px; }
  .addToCart .price {
    display: block;
    float: left;
    height: 100%;
    line-height: 35px;
    vertical-align: middle;
    padding: 0 10px;
    color: #fff;
    -webkit-border-radius: 8px 0 0 8px;
    -moz-border-radius: 8px 0 0 8px;
    -o-border-radius: 8px 0 0 8px;
    -ms-border-radius: 8px 0 0 8px;
    border-radius: 8px 0 0 8px;
    background-color: #06ee00, #059b01;
    background-image: -webkit-linear-gradient(#06ee00, #059b01);
    background-image: -moz-linear-gradient(#06ee00, #059b01);
    background-image: -o-linear-gradient(#06ee00, #059b01);
    background-image: linear-gradient(#06ee00, #059b01); }
  .addToCart .buy {
    float: left;
    position: relative;
    width: 35px;
    height: 100%;
    vertical-align: middle;
    background: none;
    border: none;
    border-left: 2px solid #fff;
    -webkit-border-radius: 0 8px 8px 0;
    -moz-border-radius: 0 8px 8px 0;
    -o-border-radius: 0 8px 8px 0;
    -ms-border-radius: 0 8px 8px 0;
    border-radius: 0 8px 8px 0;
    background-color: #06ee00, #059b01;
    background-image: -webkit-linear-gradient(#06ee00, #059b01);
    background-image: -moz-linear-gradient(#06ee00, #059b01);
    background-image: -o-linear-gradient(#06ee00, #059b01);
    background-image: linear-gradient(#06ee00, #059b01); }
    .addToCart .buy:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: url("../img/1428667742_shopping_cart-24.png") center center no-repeat; }
    .addToCart .buy:hover {
      box-shadow: 1px 1px 8px #06ee00; }
    .addToCart .buy:active {
      background: #06ee00; }
  .addToCart .out {
    background-color: #fff, #cedde3;
    background-image: -webkit-linear-gradient(#fff, #cedde3);
    background-image: -moz-linear-gradient(#fff, #cedde3);
    background-image: -o-linear-gradient(#fff, #cedde3);
    background-image: linear-gradient(#fff, #cedde3); }
    .addToCart .out:hover {
      box-shadow: 1px 1px 8px #cedde3; }
    .addToCart .out:active {
      background: #cedde3; }

.gallery {
  list-style: none;
  overflow: hidden;
  text-align: center; }
  .gallery li {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #c6c6c6;
    width: 50px;
    height: 50px;
    margin: 3px;
    overflow: hidden; }
    .gallery li img {
      height: 50px; }

/*# sourceMappingURL=style.css.map */
