.categories {
  list-style: none;

  li {
    float: left;
    list-style: none;
    margin-right: 10px;
  }

  a {
    color: $green;
  }

  .active {
    text-decoration: underline;
  }
}

.filter {
  overflow: hidden;
  margin-bottom: 20px;
  font-size:10pt;

  .label {
    float: left;
    padding-right: 5px;
  }
}