@import "../mixin/linear-gradient";
@import "../mixin/border-radius";

$buttonHeight: 35px;

$outGradient: $white, $bgCart;
$whiteTransparent: transparent, white;
$greenGradient: $grGreenLight, $grGreen;
$invGreenGradient: $grGreen, $grGreenLight;

$roundBorderLeft: 8px 0 0 8px;
$roundBorderRight: 0 8px 8px 0;

figure {
  &.item {
    display: block;
    float:left;
    position: relative;
    width:210px;
    height:420px;
    margin:15px;

    h3, h3 a {
      color:$green;
      font-size:12pt;
    }

    p {
      padding-top: 10px;
      font-size:10pt;
    }

    .itemContainer {
      width:210px;
      height:420px;
      border: 1px solid $gray;
      padding-bottom:10px;
      box-shadow: 1px 4px 8px $gray;
      background: $white;
    }

    .description {
      position: relative;
      margin:15px 0;
      padding:0 15px;
      min-height: 75px;
      height:75px;
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        position: absolute;
        width:100%;
        height:30px;
        bottom:0;
        @include linear-gradient($whiteTransparent);
      }
    }

    &:hover .itemContainer {
      position: absolute;
      z-index: 1;
      height: auto;
    }

    &:hover .description {
      height: auto;
    }

    &:hover .description:after {
      background: none;
    }
  }
}

.mainPhoto {
  position:relative;
  width: 100%;
  height: 210px;
  text-align: center;
  overflow: hidden;

  img {
    cursor:pointer;
    height: 210px;
    margin:0 auto;
  }
}

.buyBlock {
  display: inline-block;
  margin-left: 10px;

  .number {
    float:left;
    margin-top: 5px;
  }
}

.addToCart {
  display: inline-block;
  height:$buttonHeight;

  .price {
    display: block;
    float: left;
    height: 100%;
    line-height: $buttonHeight;
    vertical-align: middle;
    padding: 0 10px;
    color:$white;
    @include border-radius($roundBorderLeft);
    @include linear-gradient($greenGradient);
  }

  .buy {
    float: left;
    position: relative;
    width:35px;
    height: 100%;
    vertical-align: middle;
    background: none; border:none;
    border-left: 2px solid $white;
    @include border-radius($roundBorderRight);
    @include linear-gradient($greenGradient);

    &:before {
      content: "";
      display: block;
      width:100%;
      height: 100%;
      background: url("../img/1428667742_shopping_cart-24.png") center center no-repeat;
    }

    &:hover {
      box-shadow: 1px 1px 8px $grGreenLight;
    }

    &:active {
      background: $grGreenLight;
    }
  }

  .out {
    @include linear-gradient($outGradient);

    &:hover {
      box-shadow: 1px 1px 8px $bgCart;
    }

    &:active {
      background: $bgCart;
    }
  }

}

.gallery {
  list-style: none;
  overflow: hidden;
  text-align: center;

  li {
    display: inline-block;
    cursor: pointer;
    border:1px solid $gray;
    width:50px;
    height:50px;
    margin:3px;
    overflow: hidden;

    img {
      height:50px;
    }
  }
}